.git
.gitignore
.gitattributes
node_modules
backend/node_modules
backend/.env
backend/.env.*
backend/.phpunit.cache
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/tests
backend/phpunit.xml
frontend/node_modules
frontend/.env
frontend/dist
docker-compose.yml
Dockerfile
nginx/
.env.docker
*.md
docs/
/media/fatih/Data1/KULIAH/KULIAH/sains-data/smt5/dab/teori/tugas/rewrite-api/rsi-projek-kelompok-3/presentasi.txt